/*DOSSIER RESERVIA*/


/* **************************************************************************** */


/*ELEMENTS PRINCIPAUX ET COMMUNS DE LA PAGE*/

* {
    padding: 0;
    margin: 0;
}

main {
    max-width: 1440px;
    margin: auto;
    padding: 0 50px;
    font-family: 'Raleway', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h3,
label {
    font-size: 1.1em;
    font-weight: bold;
}

h2 {
    font-size: 1.3em;
    font-kerning: none;
    color: #000000;
    font-weight: bold;
    margin-bottom: 10px;
}

.input_filter:hover,
.card_heb:hover,
.card_pop:hover,
.card_activ:hover {
    box-shadow: 2px 2px 5px #242527;
    border-radius: 25px;
}


/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0px 30px 50px 0;
}

header #logo {
    flex: 15;
    padding-top: 50px;
}

header a {
    flex: 1;
    text-decoration: none;
    margin-left: 65px;
    color: #000000;
    padding-top: 50px;
}

#anchor_list {
    padding-top: 50px;
}

#nav_sinscrire {
    font-weight: bold;
    color: #0065FC;
}

#anchor_heb:hover,
#anchor_activ:hover {
    color: #0065FC;
    border-top: 3px solid #0065FC;
    padding-top: 47px;
}